@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
	background-color: #efe5ee;
}
p{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #a9a9a9;
}
h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}
.btn a{
	display: block;
	width: 180px;
	height: 35px;
	border: 2px solid #fb2274;
	line-height: 35px;
	margin: 25px auto 0;
	color: #fb2274;
	text-align: center;
}
.main_container{
	position: relative;
}.navbar{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}
.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
    color: #fb2274;
}
    .navbar .navbar_items ul{
        display: flex;
    }
    
    
    .navbar .navbar_items ul li{
        text-transform: uppercase;
        margin: 0 10px;
    }
    
    .navbar .navbar_items ul li a{
        color: #fff;
    }
    .banner_image{
        background: url("https://i.imgur.com/AS8APz9.jpg") no-repeat top center;
        background-size: cover;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner_content{
        text-align: center;
        color: #fff;
    }
    
    .banner_content h1{
        text-transform: uppercase;
        line-height: 38px;
        margin-bottom: 15px;
    }
    
    .banner_content h1 span{
        color: #fb2274;
    }
    .ommig,
.projekter,
.kontakt,
.uddanelse{
	padding: 5% 10%;
    text-align: center;
    
}
.projekter{
	background: #f5f5f5;
}

.diff_projekter{
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

.diff_projekter_item{
	width: 30%;
}

.diff_projekter_item img{
	width: 100%;
    margin-bottom: 25px;
   
}

.diff_projekter_item h3{
	color: #fb2274;
	margin-bottom: 15px;
}
.form_input{
	margin-bottom: 15px;
}

.form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px;
	border: 1px solid #ccc;
}

.form_input textarea{
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}
.uddanelse{
    background: #f5f5f5;

}