@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
	background-color: #efe5ee;
}